home=/Users/name
android.sdk=${home}/Code/Android
android.ndk=${android.sdk}/AndroidNDK
titanium.sdk=${home}/Library/Application\ Support/Titanium/
titanium.os=osx
titanium.version=3.5.1.GA

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
android.platform=${android.sdk}/platforms/android-10
google.apis=${android.sdk}/add-ons/addon_google_apis_google_inc_10
